services:
  certbot:
    image: ghcr.io/alexzorin/certbot-dns-multi:4.27.0
    command:
      - certonly
      - --non-interactive
      - --agree-tos
      - --authenticator=dns-multi
      - --dns-multi-credentials=/etc/letsencrypt/dns-multi.ini
      - --domains=${TRACK_HOSTNAME:?required}
      - --domains=${BUS_HOSTNAME:?required}
      # - --dry-run
    volumes:
      - ${DATA_DIR:-/data}/logs/certbot:/var/log/letsencrypt
    configs:
      - source: cerbot-dns-multi.ini
        target: /etc/letsencrypt/dns-multi.ini
        mode: 0600

  ofelia:
    image: mcuadros/ofelia
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      # https://github.com/mcuadros/ofelia/issues/280#issuecomment-2561863012
      ofelia.job-run.certbot-renew.schedule: "@daily"
      ofelia.job-run.certbot-renew.command: "sh -c 'docker compose -p ${COMPOSE_PROJECT_NAME} restart certbot'"
      ofelia.job-run.certbot-renew.image: "docker:cli"
      ofelia.job-run.certbot-renew.volume: "/var/run/docker.sock:/var/run/docker.sock"

configs:
  cerbot-dns-multi.ini:
    content: |
      dns_multi_provider=cloudflare
      CLOUDFLARE_DNS_API_TOKEN=
  cerbot-dns-multi-tencentcloud.ini:
    content: |
      dns_multi_provider=tencentcloud
      TENCENTCLOUD_SECRET_ID=
      TENCENTCLOUD_SECRET_KEY=
