services:
  mysql8:
    image: mysql:8.4
    # 国内拦了 用加速站
    #image: docker.m.daocloud.io/mysql:8.4
    container_name: mysql8
    restart: always
    ports:
      - ${MYSQL_PORT:-3306}:3306
    configs:
      - source: mysql8.conf
        target: /etc/mysql/conf.d
      - source: mysql8.initdb
        target: /docker-entrypoint-initdb.d
    volumes:
      - "${DATA_DIR:-/data}/mysql8/data:/var/lib/mysql"
      - "${DATA_DIR:-/data}/mysql8/logs:/var/log/mysql"
      - "${DATA_DIR:-/data}/mysql8/backup/database:/mysql/backup/database"
      - "${DATA_DIR:-/data}/mysql8/backup/log:/mysql/backup/log"
    environment:
      # 设置密码
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD:?required}
    logging: 
      driver: "json-file"
      options:
        # 限制日志文件大小
        max-size: "100m"
  mysql-cron-backup:
    image: fradelg/mysql-cron-backup
    container_name: backup-cbus
    depends_on:
      - mysql8
    volumes:
      - "${DATA_DIR:-/data}/mysql8/backup:/backup"
    environment:
      - MYSQL_HOST=mysql8
      - MYSQL_PORT={MYSQL_PORT:-3306}
      - MYSQL_USER=root
      - MYSQL_PASS=${MYSQL_PASSWORD:?required}
      - MAX_BACKUPS=15
      # 是否在容器启动时立即执行一次备份：1 表示立即备份，0 表示等到下一个定时点再执行。
      - INIT_BACKUP=0
      # 每天凌晨 3 点执行一次备份。cron 表达式格式：分 时 日 月 星期
      - CRON_TIME=0 3 * * *
      # gzip 压缩等级（1–9），9 表示压缩最小、CPU 占用最高。
      - GZIP_LEVEL=9
      # 指定数据库
      - DATABASES=cbus
      # As of MySQL 8.0.21 this is needed
    # 忽略表（多个以空格分隔）
      - MYSQLDUMP_OPTS=--no-tablespaces \
          --single-transaction \
          --ignore-table=cbus.log_event \
          --ignore-table=cbus.log_attendance \
          --ignore-table=cbus.log_dispatch \
          --ignore-table=cbus.log_dsp \
          --ignore-table=cbus.log_login \
          --ignore-table=cbus.log_message \
          --ignore-table=cbus.log_station \
          --ignore-table=cbus.log_system \
          --ignore-table=cbus.log_web_socket \
          --ignore-table=cbus.service_on_time \
          --ignore-table=cbus.service_over_speed \
          --ignore-table=cbus.schedule_plan_table \
          --ignore-table=cbus.device_position \
          --ignore-table=cbus.device_depart_arrive
    restart: unless-stopped