## video service example
# Just include all necessary compose files
# Recommend customers to open continuous port range 9000-9100
# Default open ports: Live 9000, Record 9001, Talk 9002, Monitor 9003, Broadcast 9004, RTMP 9005:1935 (srs)
# Nginx proxy 9085-9089: http-flv (srs:8080 port), wss (rtp:9006 port), intercept mdvr and ws keywords
include:
  - ../docker/minio/compose.yml
  - path:
    - ../docker/video/compose.yml
    - ../docker/video/compose.storage.yml
  - path:
    - ../docker/nginx/compose.yml
    - ../docker/nginx/compose.video.yml
    - ../docker/nginx/compose.video-minio.yml
