# 注意 my.ini 必须存为 ANSI编码格式, 其他格式可能无法启动服务
# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]

# 不区分大小写 注:mysql8.x创建数据库后不能更改
lower_case_table_names = 1

# 设置mysql客户端默认字符集
character-set-server = utf8mb4
 
collation-server = utf8mb4_general_ci

# 时区 00:00 如果需要做国际化时可以设置 否则使用当前服务器时区
default-time_zone = '+00:00'

# 只能用IP地址检查客户端的登录，不用主机名
#skip_name_resolve = 1

# SQL数据包发送的大小，如果有BLOB对象建议修改成1G
max_allowed_packet = 64M

# MySQL连接闲置超过一定时间后(单位：秒)将会被强行关闭
# MySQL默认的wait_timeout  值为8个小时, interactive_timeout参数需要同时配置才能生效
interactive_timeout = 1800
wait_timeout = 1800

# 内部内存临时表的最大值 ，设置成128M。
# 比如大数据量的group by ,order by时可能用到临时表，
# 超过了这个值将写入磁盘，系统IO压力增大
tmp_table_size = 134217728
max_heap_table_size = 134217728

# 关闭关于 TIMESTAMP with implicit DEFAULT value is deprecated. 的警告
explicit_defaults_for_timestamp = true

# 开启事件功能 mysql8 默认开启
event_scheduler = ON

sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
